image: node:20-alpine

stages:
  - build
  - deploy-qa
  - deploy-prod

variables:
  NODE_ENV: production
  CI: "true"

cache:
  paths:
    - node_modules/

build:
  stage: build
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - .output/public/
    expire_in: 1 day
  only:
    - main

deploy:qa:
  stage: deploy-qa
  image: node:20-alpine
  script:
    - npm install -g netlify-cli
    - netlify deploy --site qa-myrecruitingcompass --auth $NETLIFY_AUTH_TOKEN --dir .output/public --prod
  dependencies:
    - build
  only:
    - main

deploy:prod:
  stage: deploy-prod
  image: node:20-alpine
  script:
    - npm install -g netlify-cli
    - netlify deploy --site myrecruitingcompass --auth $NETLIFY_AUTH_TOKEN --dir .output/public --prod
  dependencies:
    - build
  when: manual
  only:
    - main
