image: node:20-alpine

stages:
  - build

variables:
  NODE_ENV: production
  CI: "true"

cache:
  paths:
    - node_modules/

build:
  stage: build
  script:
    - npm ci
    - npm run build
  only:
    - main
