image: node:20-alpine

stages:
  - build

variables:
  NODE_ENV: production
  CI: "true"

# Build stage only
build:
  stage: build
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - .output/
    expire_in: 1 week
  only:
    - main
