@import "leaflet/dist/leaflet.css";
@import "../styles/theme.css";
@import "../styles/transitions.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
